/* background color code #222222 
main color #929292
button color #d6434a    
footer background #606060
meet our team background #c4c4c4
artciles hover shadow #494947
counter text color #d2d2d2

*/

* {
    /* color: #646461; */
}

html {
    overflow-x: hidden;
}
body{
    font-size: 0.8rem;
}

#main-footer {
    background-color: #222222;
}

#main-footer li,
#main-footer li a,
#main-footer h3,
#main-footer u {
    color: white;
}

#main-footer li a:hover {
    color: #d6434a;
}

.fa-fw {
    color: #d6434a;
}

u {
    text-decoration: underline;
    text-decoration-color: red;
}


/* google maps  */

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 100%;
}


/* GOOGLE MAPS END  */


/* OUR TEAM CARD START  */

.clear-fix:after {
    display: block;
    clear: both;
    content: "";
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.card__collection {
    position: relative;
    display: block;
    /* background: rgba(10, 10, 10, 0.5); */
    padding: 10px;
    font-family: "Do Hyeon", sans-serif;
    overflow: hidden;
}

.card__collection .cards {
    width: 300px;
    height: 400px;
    display: block;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
}

.card__collection .cards--one {
    backface-visiblility: hidden;
}

.card__collection .cards--one:hover:after {
    bottom: -20px;
}

.card__collection .cards--one:hover:before {
    bottom: -10px;
}

.card__collection .cards--one:hover .cards--one__rect {
    left: 45%;
}

.card__collection .cards--one:hover .cards--one__rect--back {
    left: 50%;
}

.card__collection .cards--one::after {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    transform: rotate(-3deg);
    background: #e660e3;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: -10px;
    z-index: 9;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.card__collection .cards--one:before {
    content: "";
    display: block;
    position: absolute;
    height: 80px;
    transform: rotate(-3deg);
    bottom: -90px;
    left: 0;
    background: #fff;
    right: -10px;
    z-index: 5;
    transition: all 0.2s ease-in;
    transition-delay: 0.1s;
}

.card__collection .cards--one__rect {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background: #0f9bc0;
    width: 126px;
    height: 55px;
    transform: skewY(5deg);
    position: absolute;
    display: block;
    top: 60%;
    left: -45%;
    z-index: 1;
    line-height: 3.3rem;
    text-align: center;
    transition: all 0.2s ease-in;
}

.card__collection .cards--one__rect--back {
    display: block;
    background: rgba(34, 65, 154, 0.8);
    width: 126px;
    height: 55px;
    transform: skewY(7deg);
    position: absolute;
    top: 65%;
    left: -50%;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.card__collection .cards--one__rect p {
    transform: skewY(-7deg);
    position: relative;
}

.card__collection .cards--two {
    position: relative;
    backface-visibility: hidden;
}

.card__collection .cards--two p {
    position: absolute;
    top: 83%;
    left: -100%;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    transition: all 0.6s ease;
}

.card__collection .cards--two:hover p {
    left: 8%;
}

.card__collection .cards--two:hover img {
    transform: translateY(-15px);
}

.card__collection .cards--two:hover .cards--two__rect {
    top: 75%;
}

.card__collection .cards--two:hover .cards--two__rect:before {
    transform: translateY(15px);
}

.card__collection .cards--two:hover li {
    transform: translateY(0);
}

.card__collection .cards--two:hover .cards--two__tri {
    right: -40%;
}

.card__collection .cards--two:hover .cards--two__tri:before {
    right: -312px;
}

.card__collection .cards--two img {
    transition: all 0.2s ease;
}

.card__collection .cards--two__tri {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #fff;
    opacity: 0.9;
    position: absolute;
    display: block;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__tri:before {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #c4c4c4;
    position: absolute;
    content: "";
    display: block;
    top: -220px;
    right: -612px;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.card__collection .cards--two__rect {
    width: 750px;
    height: 200px;
    background: #fff;
    display: block;
    position: absolute;
    top: 175%;
    left: -78%;
    transform: rotate(30deg);
    z-index: 5;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__rect:before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    background: #f07306;
    transform: translateY(200px);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.card__collection .cards--two ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 9;
}

.card__collection .cards--two ul li {
    display: inline-block;
    font-size: 16px;
    margin: 7px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    transform: translateY(100px);
}

.card__collection .cards--two ul li:nth-child(2) {
    transition-delay: 0.2s;
}

.card__collection .cards--two ul li:nth-child(3) {
    transition-delay: 0.3s;
}

.card__collection .cards--two ul li:nth-child(4) {
    transition-delay: 0.4s;
}

.card__collection .cards--three {
    position: relative;
    z-index: 10;
}

.card__collection .cards--three:hover .cards--three__rect-1 {
    left: 10%;
}

.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
    left: -15%;
}

.card__collection .cards--three:hover .cards--three__rect-2 {
    left: 65%;
}

.card__collection .cards--three:hover .cards--three__rect-2:before {
    left: -100%;
}

.card__collection .cards--three:hover .cards--three__rect-2:after {
    left: 80%;
}

.card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
    left: -10%;
}

.card__collection .cards--three:hover .cards--three__circle {
    transform: scale(1);
}

.card__collection .cards--three:hover .cards--three__circle:before {
    transform: scale(0.9);
}

.card__collection .cards--three:hover .cards--three__list li {
    transform: translateX(0);
}

.card__collection .cards--three__rect-1 {
    background: #fff;
    width: 209px;
    height: 110px;
    transform: skewX(-20deg);
    display: block;
    position: absolute;
    top: 71%;
    opacity: 0.9;
    left: -100%;
    z-index: 8;
    transition: all 0.5s ease-in;
    padding-top: 20px;
}

.card__collection .cards--three__rect-1 p {
    /* font-size: 20px; */
    color: #fff;
    transform: skewX(20deg);
    padding-top: 10px;
    /* line-height: 6rem; */
}

.card__collection .cards--three__rect-1 .shadow-1 {
    background: #d6434a;
    width: 230px;
    height: 100px;
    display: block;
    position: absolute;
    left: -200%;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.card__collection .cards--three__rect-2 {
    width: 85px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 60%;
    left: 1000%;
    opacity: 0.9;
    transform: skewX(-20deg);
    z-index: 8;
    transition: all 0.5s ease-in;
}

.card__collection .cards--three__rect-2::before {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #c4c4c4;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 10%;
    transition: all 0.3s ease-in;
}

.card__collection .cards--three__rect-2::after {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #d6434a;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 114%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.card__collection .cards--three__rect-2 .shadow-2 {
    background: #c4c4c4;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -10%;
    left: 500%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.card__collection .cards--three__circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15%;
    left: 50%;
    opacity: 0.9;
    transform: scale(0);
    transition: all 0.3s ease;
}

.card__collection .cards--three__circle:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #d6434a;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.card__collection .cards--three__list {
    list-style: none;
    position: absolute;
    top: -9px;
    right: 7px;
    padding-top: 60px;
    transition: all 0.4s ease;
}

.card__collection .cards--three__list li {
    display: inline-block;
    margin: 4px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d6434a;
    text-align: center;
    line-height: 1.7rem;
    /* font-size: 12px; */
    transition: all 0.3s ease;
    transform: translateX(500%);
}

.card__collection .cards--three__list li:nth-child(1) {
    transition-delay: 0.2s;
}

.card__collection .cards--three__list li:nth-child(2) {
    transition-delay: 0.3s;
}

.card__collection .cards--three__list li:nth-child(3) {
    transition-delay: 0.4s;
}

.shadow-1 small {
    color: white!important;
}

.cards--three__rect-1 a {
    font-size: 10px;
    float: right;
    padding-right: 10%;
}


/* OUR TEAM CARD END  */


/* SOCIAL ICONS START  */

.fa {
    cursor: pointer;
}


/* SOCIAL ICONS END  */


/* article owl carousel start  */

.wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.card {
    width: 230px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    /* display: flex; */
    align-cards: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.card .info h1 {
    margin: 0px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: dodgerblue;
    color: white;
}

.owl-item {
    /* width: 300px!important; */
}



.hover-box a {
    opacity: 1;
    color: #ffff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hover-box a i {
    font-size: 23px;
    line-height: 40px;
    width: 40px;
    background-color: #fff;
    color: #EB4960;
    border-radius: 2px;
}

.hover-box a i:hover {
    background-color: #EB4960;
    color: #fff;
    cursor: pointer;
}

.hover-box:hover:before,
.hover-box.hover:before {
    opacity: 0.5;
}

.hover-box:hover a,
.hover-box.hover a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.hover-box:hover a:nth-child(2),
.hover-box.hover a:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hover-box:hover a:nth-child(3),
.hover-box.hover a:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.hover-box:hover a:nth-child(4),
.hover-box.hover a:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.owl-stage-outer {
    height: 480px;
}


/* article owl carousel end  */


/* flip cards logos start  */


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #222222;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #ffff;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: #222222;
    color: white;
    transform: rotateY(180deg);
    padding: 0 10px;
    display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.flip-card-back a {
    color: #d6434a;
    text-decoration: underline;
}

.card-back .fa {
    list-style: none;
    /* border-radius: 50%; */
    color: #d6434a;
    margin: 3px
}

.card-back ul {
    padding: 0;
    margin: 0;
}

.card-back li {
    display: inline-block;
    /* padding: 10px 30px; */
}

.flip-card-back ul {
    margin: 0;
    padding: 0;
}

.flip-card {
    width: auto;
}

.card-logo {
    width: 150px;
    height: 50px;
    top: 35%;
    position: absolute;
    left: 30%;
}


/* flip cards logos end  */


/* COUNTERS START  */

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #474747;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ec202a;
    line-height: 28px;
}

.counter-box {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

.counter::after {
    content: '+';
}


/* COUNTERS END  */


/* HOME PAGE SLIDER  START */

.carousel-item {
    /* height: 81vh;
    min-height: 300px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: #fff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.container-fluid {
    /* padding: 0 !important;
    width: 1280px; */
    padding-right: 0!important;
    padding-left: 0!important;
}

.fixed-top {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}


/* .nav-link:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: red;
    text-decoration-color: red;
} */

.navbar-light {
    background: #222222;
}


/*Edit starts here*/

#navbarSupportedContent li {
    position: relative;
}

#navbarSupportedContent li::after {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    left: 50%;
    height: 2px;
    background: #ffff;
    transition: cubic-bezier(.77, 0, .18, 1) 1s;
}

#navbarSupportedContent li:hover::after {
    width: 80%;
    left: 10%;
}

#navbarSupportedContent li {
    transition: cubic-bezier(.77, 0, .18, 1) 1s;
}

#navbarSupportedContent li:hover {
    background-color: tomato;
}

#counters-block {
    margin-top: 136px;
    /* margin-top: -65px;
    padding-left: 15px;
    padding-right: 30px; */
}

.row {
    /* margin-right: 0px;
    margin-left: 0px; */
}


/*Edit ends here*/

.button1 {
    position: absolute;
    bottom: 0;
    left: 34%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 11px;
    float: right;
    font-size: 15px;
    width: 65%;
    background-color: #d6434a;
    color: white;
}

.button1 a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    width: 167px;
    padding: 12px 6px;
}

.hover-box:hover .button1 {
    opacity: 1;
}

.container-fluid {
    padding-right: 13px !important;
    padding-left: 13px !important;
}

.profilename {
    margin: 0;
}

.profiletitle {
    font-size: 12px!important;
    padding-top: 0!important;
    margin: 0!important;
    /* text-align: center!important; */
}

#counters-block {
    margin-top: -73px;
}


/* #carouselExampleIndicators {
    height: 400px;
} */

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-indicators {
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
    top: 40%;
    bottom: 30%;
    margin-right: 15px;
}

.carousel-indicators li {
    margin-bottom: 10px;
    border-radius: 12px;
    width: 8px;
    height: 8px;
    background-color: #d6434a;
}

#logocards .flip-card {
    height: 50vh;
}
/* #logocards .allborder {
    
} */

@media only screen and (max-width: 600px) {
    #logocards .allborder {
        border: 2px solid black;
    }
  }

.logo-one {
    /* height: 103px;
    width: 100%;
    left: -3%; */
}

.carousel-wrap {
    width: 100%;
}

.bootleggers .item {
    -webkit-backface-visibility: hidden;
    display: inline-block;
}

.item img {
    border-radius: 7%;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 50%);
}

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 30px;
}


.aboutrow {
    display: flex;
}

.aboutcol {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eventname {
    font-size: 2.25em;
    font-weight: bold;
    color: #8d0700;
}

.owl-item:hover {
    transform: translateY(20px);
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}

.profilereadmore {
    color: white;
}

.profilereadmore:hover {
    color: white;
}

.owl-carousel .owl-item{
 float:right;
}

.owl-carousel .owl-stage {
    display: flex;
  }

 .owl-carousel .owl-item img {
    width: 280px;
    height: 100%;
  }
  .owl-item {
      height:450px;
      /* padding:20px; */
      left:10px;
  }

  .owl-carousel .owl-stage {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .img__description {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 28%;
    right: 0;
    /* background: rgba(29, 106, 154, 0.72); */
    color: red;
    visibility: hidden;
    /* opacity: 0; */
  
    /* transition effect. not necessary */
    /* transition: opacity .2s, visibility .2s; */
  }
  
  .owl-item:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .teamone,.teamtwo {
    padding: 0 1.5em;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: left;
}

h2 .featured:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #474747;
    opacity: 0.15;
}
h2 .featured {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #d6434a;
}
h2 .featured span {
    position: relative;
    /* font-size: 22px; */
}
.fa-angle-right{
    font-size: 20px; margin-right: 10px;
}
.footerlinks{
    margin:0;
    padding-left: 1%;
}
.fa-fw{padding-right: 10px;}
.owl-theme .owl-dots .owl-dot span{background: #d6434a}

.fixed-top {
    position: fixed;
    top: 0;
    right: 13px;
    left: 13px;
    z-index: 1030;
    width: auto;
}

.nav-item{
    margin: auto 20px;
}

.h3, h3,h2 { font-size: 1.2rem; }

.fa-fw {
    width: 5%;
    text-align: center;
}

.footerfaicons .fa-fw {
    width: 6%;
    font-size: 14px;
}

.footerlogotext{
    color:#ffff;width: 65%;
}
.list-unstyled li, .footerlinks li, .footerlogotext{
    line-height: 1.8;
}

.modal-title, .teamdesignation, .modal-footer .btn-secondary{color:#d6434a}
.modal-footer .btn-secondary {background-color: #de686e;
    color: white;}

.footerfaicons, .footerlinks{
    color:white;
}

.footeraddress{
    font-size: 12px;
}

.main-nav {
    height: 75px;
}
.owl-nav{color: #ec202a;}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
    color: #ec202a;
    border: none;
}

.owl-prev {
    color: #ec202a;
    width: 15px;
    height: 100px;
    position: absolute;
    top: 33%;
    margin-left: -20px;
    display: block !important;
    left: 50px;
    /* border:0px solid black; */
}

.owl-next {
    color: #ec202a;
    width: 15px;
    height: 100px;
    position: absolute;
    top: 33%;
    right: 50px;
    display: block !important;
    /* border:0px solid black; */
}
.owl-prev i, .owl-next i {transform : scale(1,2); }

.fa-fw{margin-right: 10px;}

.saa-image{
    width: 250px;
    height: 350px;
    top: -5%;
    left: 15%;
}

:focus-visible { outline: none; }

.footerfaicons .fa-fw{font-size: 17px;}
/* .fa-map-marker{font-size: 22px;} */


#navbarSupportedContent .nav-item{
    font-size:16px;
}

.profilename, .profiletitle, .profilereadmore {padding-right: 10%;}